/*Desktop Screen design*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

body{
    background-color: hsl(225, 100%, 94%);
    overflow-x: hidden;
    display: grid;
    place-items: center;
    height: 100vh;
}

.background{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.card{
    width: 400px;
    background-color: #FFF;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
        box-shadow: 0 2px 10px rgb(0 0 0 / 0.2);
}

.card img{
    border-radius: 15px 15px 0 0;
    width: 100%;
}

.card .content{
    text-align: center;
    padding: 20px 40px;
}

.card .content h2{
    font-weight: 900;
}

.card .content > p{
    color: hsl(224, 23%, 55%);
    margin: 20px 0;
}

.card .content .plan{
    width: 100%;
    background-color: hsl(225, 100%, 98%);
    display: flex;
    padding: 15px;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
}

.card .content .plan .left-side{
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;
}

.card .content .plan .left-side p{
    color: hsl(224, 23%, 55%);
}

.card .content .plan img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
}

.card .content .plan a{
    color: hsl(245, 75%, 52%);
    font-weight: bold;
}

.card .content .plan a:hover{
    text-decoration: none;
    opacity: .7;
}

.card button{
    display: block;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.card button.proceed:hover{
    opacity: .7;
}

.card button.proceed{
    width: 100%;
    border-radius: 10px;
    background-color: hsl(245, 75%, 52%);
    color: hsl(225, 100%, 98%);
    font-weight: 500;
    margin: 20px auto 10px;
    box-shadow: 0 10px 25px rgb(0 0 0 / 0.3);
}

.card button.cancel{
    background-color: transparent;
    border: none;
    color: hsl(224, 23%, 55%);
    font-weight: 700;
    margin: 0 auto;
}

.card button.cancel:hover{
    color: black;
}

/*Mobile Screen design*/

@media screen and (max-width : 375px){
    .card{
        width: 300px;
    }

    .card .content{
        padding: 20px;
    }

    .card .content .plan .left-side{
        width: 65%;
    }

    .card .content .plan .left-side h4{
        font-size: 14px;
    }

    .card .content .plan a{
        font-size: 12px;
    }

    .card button{
        padding: 15px;
    }
}